@media print {
  body {
    font-family: Georgia, serif;
    margin: 0.25in 0.25in 0.5in 0.25in;
    width: 8in; }

  .new-page {
    page-break-before: always;
    margin-top: 0.25in;
    overflow: hidden; } }
@media screen {
  body {
    font-family: Georgia, serif;
    margin: 2rem;
    width: 8in; }

  .new-page {
    display: none; } }
body {
  box-sizing: border-box; }
  body > div {
    margin-bottom: 0.8rem; }

h1 {
  font-weight: normal;
  font-size: 2rem;
  margin: 0.5rem 0.2rem; }

p {
  text-indent: 1rem;
  margin: 0; }

p:first-of-type {
  text-indent: 0; }

sup {
  font-size: 10px; }

.b {
  font-weight: bold; }

.spell {
  font-style: italic; }

.small {
  font-size: 14px; }

.tiny {
  font-size: 10px; }

span.title {
  font-weight: bold;
  font-style: italic; }

.bg {
  background-color: #ddd; }

.block {
  margin-bottom: 0.8rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  break-inside: avoid;
  grid-gap: 0.8rem;
  width: 100%; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  .flex > div {
    width: 100%; }
  .flex > .half {
    width: calc(50% - 0.4rem); }

.flex.tall {
  flex-direction: column; }

.flex > .column {
  width: calc(50% - 0.4rem); }

.flex > .column.wide {
  width: calc(66.66666% - 0.4rem); }

.flex > .column.narrow {
  width: calc(33.33333% - 0.4rem); }

.atf {
  width: 100%;
  margin-bottom: 0.8rem; }
  .atf > div:not(:last-child) {
    margin-right: 0.8rem; }

.btf {
  width: 100%; }

.remove-bottom-margin {
  margin-bottom: 0; }

.head {
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 1.5; }

.checkbox {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 2px;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -0.2em;
  vertical-align: middle;
  position: relative; }

.checkbox.checked:after {
  content: "\2714";
  position: absolute;
  bottom: 0;
  left: 2px; }

.scratch {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5; }
  .scratch div:not(.title) {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 3rem; }

ul {
  list-style: none;
  text-indent: -0.55rem;
  margin: 0.2rem 0;
  padding-left: 1.4rem; }

li:before {
  position: relative;
  left: -0.5rem;
  content: "\2727"; }

.info-bar {
  background-color: #777;
  color: white;
  padding: 0.3rem 0.5rem;
  font-size: 18px;
  margin-bottom: 0.5rem; }

.ability-scores {
  flex: 1; }
  .ability-scores > div {
    line-height: 2rem;
    text-align: right;
    margin-bottom: 0.2rem; }
    .ability-scores > div > div {
      text-align: center;
      margin-left: 0.2rem;
      display: inline-block;
      width: 2rem;
      border: 2px solid #999;
      border-radius: 50%; }
  .ability-scores > .str:before {
    content: "Str "; }
  .ability-scores > .dex:before {
    content: "Dex "; }
  .ability-scores > .con:before {
    content: "Con "; }
  .ability-scores > .int:before {
    content: "Int "; }
  .ability-scores > .wis:before {
    content: "Wis "; }
  .ability-scores > .cha:before {
    content: "Cha "; }

.proficiencies {
  flex: 3;
  display: flex;
  flex-direction: column; }
  .proficiencies > div:not(.head) {
    padding-left: 1rem;
    text-indent: -1rem;
    margin-top: 0.2rem; }
  .proficiencies > div:before {
    font-weight: bold; }
  .proficiencies .bonus:before {
    content: "Proficiency Bonus: "; }
  .proficiencies .save:before {
    content: "Saving Throw: "; }
  .proficiencies .skill:before {
    content: "Skill: "; }
  .proficiencies .tool:before {
    content: "Tool: "; }
  .proficiencies .language:before {
    content: "Language: "; }
  .proficiencies .weapon:before {
    content: "Weapon: "; }
  .proficiencies .armor:before {
    content: "Armor: "; }

.health {
  flex: 1; }
  .health > div {
    margin-bottom: 0.8rem; }
  .health .hit-dice {
    position: relative; }
    .health .hit-dice .uses:before {
      position: absolute;
      left: 0;
      width: 2rem;
      text-align: center; }
    .health .hit-dice .uses {
      margin-left: 2rem;
      text-align: left; }
    .health .hit-dice .d6:before {
      content: "d6"; }
    .health .hit-dice .d8:before {
      content: "d8"; }
    .health .hit-dice .d10:before {
      content: "d10"; }
    .health .hit-dice .d12:before {
      content: "d12"; }
  .health .death-saves .success:before {
    content: "\2764\fe0f"; }
  .health .death-saves .failure:before {
    content: "\1f480"; }

.hp {
  flex: 1; }
  .hp > div {
    margin-bottom: 0.8rem; }
  .hp .scratch > div:not(.title) {
    min-height: 4rem; }

.resource {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2rem 0.4rem; }
  .resource > .head {
    grid-column: span 4; }
  .resource > .label {
    grid-column: 1;
    text-align: right; }
  .resource > .uses {
    grid-column: 1 / span 4;
    text-align: center; }
  .resource > .label ~ .uses {
    grid-column: 2 / span 3;
    text-align: left; }

.points .scratch {
  float: right;
  width: 44%;
  margin-left: 0.3rem; }
  .points .scratch .title {
    font-size: 14px;
    line-height: 1.4; }

.table {
  display: table;
  table-layout: fixed; }
  .table .c {
    text-align: center;
    display: table-cell;
    width: 50%; }
  .table .row {
    display: table-row; }
  .table .row:nth-child(even) {
    background-color: #ddd; }

.feature {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .feature .head {
    position: relative; }
  .feature .head .uses {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right; }
  .feature .uses.short-rest:before {
    font-size: 14px;
    content: "short rest "; }
  .feature .uses.long-rest:before {
    font-size: 14px;
    content: "long rest "; }

.equipment-set {
  display: grid;
  grid-template-columns: repeat(9, 1fr); }
  .equipment-set > div, .equipment-set > ul {
    grid-column: span 9; }
  .equipment-set > div:nth-child(n+3) {
    margin-top: 0.8rem;
    text-align: center; }
  .equipment-set > div:nth-child(2) {
    padding: 0 0.2rem; }
  .equipment-set > div.ac {
    grid-column: 2 / span 3; }
  .equipment-set > div.move {
    grid-column: 6 / span 3; }
  .equipment-set > div.attack {
    margin-top: 0; }
    .equipment-set > div.attack > div:first-child {
      line-height: 1.4;
      border-bottom: 1px solid black; }
  .equipment-set > div.attack:not(.range) {
    border-right: 1px solid black; }
  .equipment-set > div.roll {
    grid-column: 1 / span 3; }
  .equipment-set > div.damage {
    grid-column: 4 / span 3; }
  .equipment-set > div.range {
    grid-column: 7 / span 3; }

.inventory {
  line-height: 1.4;
  align-items: end;
  grid-gap: 0 0.8rem;
  grid-template-rows: 1.5rem repeat(6, 2.2rem); }
  .inventory .head {
    grid-column: 2 / span 6; }
  .inventory > .item {
    grid-column: span 2;
    border-bottom: 1px solid black;
    min-height: 0.8rem;
    font-size: 12px; }
  .inventory .money {
    align-self: stretch;
    grid-column: 9 / span 4;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    border-radius: 3px;
    align-items: stretch;
    text-align: center; }
    .inventory .money > div:not(:nth-of-type(4n)) {
      border-right: 1px solid black; }
    .inventory .money > .label {
      border-bottom: 1px solid black; }
    .inventory .money > .value {
      padding: 0.2rem;
      min-height: 3rem; }

.spellcasting .stat, .ki .stat, .combat-superiority .stat {
  padding: 0 0.3rem;
  line-height: 1.4; }
  .spellcasting .stat .value, .ki .stat .value, .combat-superiority .stat .value {
    width: 2rem;
    text-align: center;
    float: right;
    font-weight: normal; }

.slots.resource {
  line-height: 1.5; }

.ki, .combat-superiority {
  border-bottom: 1px solid black;
  margin-bottom: 0.3rem; }
  .ki .stat, .combat-superiority .stat {
    line-height: 2; }

.spell-list .column > .spell:nth-child(odd) {
  background-color: #ddd; }
.spell-list .column > .head:not(:first-child) {
  margin-top: 0.5rem; }
.spell-list .embedded {
  width: 100%; }
.spell-list .spell {
  font-size: 14px;
  font-style: normal; }
  .spell-list .spell > div {
    display: inline-block; }
  .spell-list .spell > .prepared {
    background-color: white; }
  .spell-list .spell > .title {
    width: 52%;
    padding-left: 0.2rem; }
  .spell-list .spell > .level:before {
    content: "\1f7c4";
    padding: 0 0.2rem; }
  .spell-list .spell > .level:after {
    content: "\1f7c4";
    padding: 0 0.2rem; }

.companion > div:not(:first-child) {
  padding: 0.2rem; }
.companion > div:not(:last-child) {
  border-bottom: 1px solid black; }
.companion .combat-stats > div:before {
  font-weight: bold; }
.companion .combat-stats .ac:before {
  content: "Armor Class "; }
.companion .combat-stats .hp:before {
  content: "Hit Points "; }
.companion .combat-stats .move:before {
  content: "Speed "; }
.companion .ability-scores > div {
  line-height: 1.4;
  font-size: inherit;
  margin: 0;
  text-align: inherit;
  width: 15%; }
.companion .other-stats > div:before {
  font-weight: bold; }
.companion .other-stats .skills:before {
  content: "Skills "; }
.companion .other-stats .senses:before {
  content: "Senses "; }

/*# sourceMappingURL=charsheet.css.map */
