!!!
%head
  %title Spell Cards
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  .flex.spell-cards

    .card
      %h3 Hypnotic Pattern
      .level 3
      .school 3<sup>rd</sup>-level illusion
      .casting-time 1 action
      .range 120 feet
      .components S, M(a glowing stick of incense or a crystal vial filled with phosphorescent material)
      .duration Concentration, up to 1 minute
      %p
        You create a twisting pattern of colors that weaves through the air inside a 30-foot cube within range.

      %p
        The pattern appears for a moment and vanishes. Each creature in the area who sees the pattern must make a Wisdom saving throw. On a failed save, the creature becomes charmed for the duration. While charmed by this spell, the creature is incapacitated and has a speed of 0.

      %p
        The spell ends for an affected creature if it takes any damage or if someone else uses an action to shake the creature out of its stupor.

    .card
      %h3 Hunger of Hadar
      .level 3
      .school 3<sup>rd</sup>-level conjuration
      .casting-time 1 action
      .range 150 feet
      .components V, S, M(a pickled octopus tentacle)
      .duration Concentration, up to 1 minute
      %p
        You open a gateway to the dark between the stars, a region infested with unknown horrors. A 20-foot-radius sphere of blackness and bitter cold appears, centered on a point with range and lasting for the duration. This void is filled with a cacophony of soft whispers and slurping noises that can be heard up to 30 feet away. No light, magical or otherwise, can illuminate the area, and creatures fully within the area are blinded.

      %p
        The void creates a warp in the fabric of space, and the area is difficult terrain. Any creature that starts its turn in the area takes 2d6 cold damage. Any creature that ends its turn in the area must succeed on a Dexterity saving throw or take 2d6 acid damage as milky, otherwordly tentacles rub against it.

    .blank-page
