@font-face {
  font-family: 'special_eliteregular';
  src: url("/fonts/SpecialElite-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'special_eliteregular', 'Times New Roman', serif;
  font-size: 18px;
  max-width: 8in;
  padding: 0 0.3em;
  margin: auto; }

h1, h2 {
  text-align: center; }
